<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="views/base/base" th:with="currentPage='aluno'">

<head>

<title>Conbo - Página Modelo</title>

</head>

<section layout:fragment="conteudo">

	<div class="row">

		<!-- BREADCRUMBS - Mostra o caminho até a página atual -->

		<div class="col s12 breadcrumbs valign-wrapper">

			<a th:href="@{/}" class="breadcrumb blue-grey-text"> <i
				class="material-icons left">home</i>
			</a> <a th:href="@{/aluno/listar}" class="breadcrumb blue-grey-text">Alunos</a>

			<a class="breadcrumb blue-grey-text">Detalhes</a>

		</div>

		<!-- BREADCRUMBS -->


		<!-- CONTAINER - Conteiner principal da aplicação -->

		<div class="col s12">

			<div class="card">
				<div class="card-content">


					<div class="row">
						<table>
							<thead>
								<tr>
									<th>Bolsa</th>
									<th>Mês</th>
									<th>Frequências</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="p : ${participacoes}">
									<td th:text="${p.bolsa.nome}"></td>
									<td >
										<table>
											<tr th:each="f : ${p.frequencias}">
												<td th:text="${f.mes}"></td>
												<td th:text="${f.nome}"></td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>

		<!-- CONTAINER -->

	</div>

</section>

<section layout:fragment="js">

	<!-- SCRIPTS - Coloque aqui os scripts desta página -->

</section>

</html>