<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastrar Pessoa</title>
</head>
<body th:with="acao_url=${acao == 'CADASTRAR'? 'cadastrar' :'editar' }">

<label>EDITAR</label>
<form action="#" th:action="@{/pessoa/editar}" th:object="${pessoa}" th:method="post">
   
   <input id="id" type="hidden" th:field="*{idPessoa}" />
   
    <label th:for="${#ids.next('nome')}">Nome: </label>
    <input type="text" id="nome" name="nome" th:value="${pessoa.nome}" />
   
   	<label th:for="${#ids.next('email')}">Email: </label>
    <input type="text" id="email" name="email" th:value="${pessoa.email}" />
   	
   	<button type="submit">Enviar</button>
   	
</form>
</body>
</html>