<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Detalhes Bolsa</title>
</head>
<body>
Nome:
<label th:text="${bolsa.nome}"></label>
<br/>
Descrição:
<label th:text="${bolsa.observacao}"></label>
<br/>

Tipo:
<label th:text="${bolsa.tipoBolsa.nome}"></label>
<br/>

Vagas:
<label th:text="${bolsa.vagas}" ></label>
<br/>

Ano:
<label th:text="${bolsa.ano}" ></label>
<br/>

Valor:
<label th:text="${bolsa.valor}" ></label>
<br/>

Frequencia:
<label th:text="${bolsa.frequencia}" ></label>
<br/>

Bolsistas Ativos


<br/>

	<table id="table-bolsistas" border="1">
		<thead>
			<tr>
				
				<th>Nome</th>
				<th>matricula</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="participacao:${bolsa.participacoes}">
				<td th:text="${participacao.aluno.nome}"></td>
				<td th:text="${participacao.aluno.matricula}"></td>
				<th><a th:href="@{${'/bolsa/encerrarBolsista/'+bolsa.idBolsa+'/'+participacao.aluno.idAluno}}">Encerrar Bolsista</a></th>
			</tr>
		</tbody>
	</table>

<br/>


Bolsistas Inativos


<br/>

	<table id="table-inativos" border="1">
		<thead>
			<tr>
				
				<th>Nome</th>
				<th>matricula</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="participacao:${inativos}">
				<td th:text="${participacao.aluno.nome}"></td>
				<td th:text="${participacao.aluno.matricula}"></td>
			</tr>
		</tbody>
	</table>






Responsaveis:
<label th:each="rep:${bolsa.responsaveis}" th:text="${rep.nome}"></label>


<label></label>

<br/><br/>

<a th:href="@{${'/bolsa/encerrarBolsa/'+bolsa.idBolsa}}">Encerrar Bolsa</a>







</body>
</html>