<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Detalhes Bolsa</title>
</head>
<body>
Nome:
<label th:text="${bolsa.nome}"></label>
<br/>
Descrição:
<label th:text="${bolsa.observacao}"></label>
<br/>

Tipo:
<label th:text="${bolsa.tipoBolsa.nome}"></label>
<br/>

Vagas:
<label th:text="${bolsa.vagas}" ></label>
<br/>

Ano:
<label th:text="${bolsa.ano}" ></label>
<br/>

Valor:
<label th:text="${bolsa.valor}" ></label>
<br/>

Frequencia:
<label th:text="${bolsa.frequencia}" ></label>
<br/>

Bolsistas:

<label th:each="bo:${bolsa.participacoes}" th:text="${bo.aluno.nome}">Teste</label>
<br/>
Responsaveis:
<label th:each="rep:${bolsa.responsaveis}" th:text="${rep.nome}"></label>


<label></label>








</body>
</html>